// COLORS
$main-color: #5F96E9;
$main-color-hover: #8DBFFA;
$header-bg-color: #EDF7FF;
$font-main-color: #30323D;
$font-second-color: #838CA7;
$error-color: #DD5A5A;
$error-bg-color: #FFE7E7;
$border-bg-color: #F8F9FD;
$overlay-color: #00000080;

// MEDIA
$extra-small: 378px;
$small: 600px;
$medium: 768px;
$large: 992px;