@import '../../../../common/style/abstracts/variables';
@import '../../../../common/style/abstracts/mixins';

.container {
  @include main-font;
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 100rem;

  @media screen and (max-width: $small) {
    display: none;
  }

  .header {
    @include h2;
    margin-bottom: 5rem;
  }
}