@import '../../common/style/abstracts/variables';
@import '../../common/style/abstracts/mixins';

.login {
  border: .1rem solid $font-second-color;
  border-radius: .6rem;
  padding: 3rem;
  transition: .5s;

  @media (max-width: 480px) {
    padding: 1.5rem;
  }

  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__heading {
    @include h2;
    text-align: center;
    margin-bottom: 3rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.signup {
  margin-top: 2rem;
  text-align: center;
  @include main-font
}

.link {
  cursor: pointer;
  font-weight: 600;
  color: $main-color;
}