@import '../../../common/style/abstracts/variables';
@import '../../../common/style/abstracts/mixins';

.container {
  @include button-font;
  text-align: center;
  padding: 1rem 2.4rem;
  border-radius: 0.4rem;
  background: none;
  border: solid $font-second-color 0.05rem;
  cursor: pointer;
  width: 100%;
  transition: 0.5s;

  &:hover {
    background: $main-color-hover;
  }
}

.red,
.white,
.blue {
  width: 100%;
  height: 4.4rem;
  transition: 0.5s;
}

.blue {
  background: $main-color;
  color: white;
  border: none;

  &:hover {
    background: $main-color-hover;
  }
}

.red {
  background: $error-color;
  color: white;
  border: none;

  &:hover {
    background: $main-color-hover;
  }
}

.white {
  background: white;
  color: $error-color;
  border-color: $error-color;

  &:hover {
    color: white;
    background: $error-color;
  }
}

.header {
  width: 14.5rem;
  height: 4rem;
  background: $main-color;
  color: white;
}