@import '../../../common/style/abstracts/_variables.scss';

.container {
  text-align: center;
  padding: 10px 24px;
  font: $paragraph-font;
  border-radius: 4px;
  background: none;
  border: solid #838ca7 0.5px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: #8dbffa;
  }
}

.blue {
  background-color: #5f96e9;
  width: 260px;
  height: 44px;
  color: #ffffff;
  transition: 0.5s;

  &:hover {
    background-color: #8dbffa;
  }
}

.header {
  width: 145px;
  height: 40px;
  background-color: #5f96e9;
  color: #ffffff;
}