@import '../../../common/style/abstracts/variables';
@import '../../../common/style/abstracts/mixins';

.container {
  @include button-font;
  text-align: center;
  padding: 1rem 2.4rem;
  border-radius: 0.4rem;
  background: none;
  border: solid $font-second-color 0.05rem;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: $main-color-hover;
  }
}

.blue {
  background-color: $main-color;
  width: 26rem;
  height: 4.4rem;
  color: white;
  transition: 0.5s;

  &:hover {
    background-color: $main-color-hover;
  }
}

.red {
  background-color: $error-color;
  width: 14.4rem;
  height: 4.4rem;
  color: white;
  transition: 0.5s;

  &:hover {
    background-color: $main-color-hover;
  }
}

.header {
  width: 14.5rem;
  height: 4rem;
  background-color: $main-color;
  color: white;
}
