@import '../../../../../common/style/abstracts/variables';
@import '../../../../../common/style/abstracts/mixins';

.container {
  @include main-font;
  display: block;
  width: 6.5rem;
  height: 4rem;
  border: 0.05rem solid $font-second-color;
  border-radius: 0.4rem;
  text-align: center;
  transition: background-color 0.5s ease;

  @media screen and (max-width: $medium) {
    display: none;
  }
}