@import '../../../../common/style/abstracts/variables';

.container {
  display: flex;
  max-width: 120rem;
  justify-content: space-between;
  padding: 10rem;
  margin: auto;

  @media screen and (max-width: $medium) {
    padding: 5rem;
  }

  img {
    @media screen and (max-width: $large) {
      display: none;
    }
  }
}