@import '../../../../common/style/abstracts/variables';

.container {
  display: flex;
  max-width: 110rem;
  padding: 0 5rem;
  justify-content: space-between;
  margin: 7.4rem auto 10rem;

  @media screen and (max-width: $large) {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  @media screen and (max-width: $small) {
    margin-top: 0rem;
    padding: 0 2rem;
  }

  img {
    @media screen and (max-width: $large) {
      display: none;
    }
  }
}