@font-face {
  font-family: 'Gilroy';
  src: url('../../../../public/assets/fonts/Gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../../../../public/assets/fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../../../public/assets/fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
    url('../../../../public/assets/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../../public/assets/fonts/Gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../../../../public/assets/fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../../../public/assets/fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
    url('../../../../public/assets/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}