@import '../../../../common/style/abstract/variables';

.burger_button {
  display: none;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  position: relative;
  cursor: pointer;
  transition: 1s;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    background-color: black;
    height: 2px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 30px;
    width: 20px;
    background-color: black;
    height: 2px;
  }
  span {
    position: absolute;
    top: 15px;
    width: 20px;
    background-color: black;
    height: 2px;
  }
  @media screen and (max-width: $medium) {
    display: block;
  }
}
.active {
  transform: translateX(-100%);
  &:after {
    transition: 1s;
    transform: rotate(90deg) translateY(650%) translateX(75%);
  }
  span {
    transition: 1s;
    transform: rotate(90deg);
  }
  &:before {
    transition: 1s;
    transform: rotate(90deg) translateY(-650%) translateX(-75%);
  }
}
.not_active {
  &:after {
    transition: 1s;
    transform: rotate(0deg);
    transform: translateX(0%);
  }
  &:before {
    transition: 1s;
    transform: rotate(0deg);
  }
  span {
    transition: 1s;
    transform: rotate(0deg);
    transform: translateX(0%);
  }
}
