@import '../../../../../common/style/abstracts/variables';
@import '../../../../../common/style/abstracts/mixins';

.container {
  max-width: 34rem;
  margin-top: 4.5rem;

  @media screen and (max-width: $large) {
    width: 100%;
    max-width: 100%;
    height: auto;
    align-items: center;
    margin: 0;
  }

  h1 {
    overflow: hidden;
    @include h1;
    transform: translateY(100%);
    animation: text-up 1s forwards;

    @media screen and (max-width: $large) {
      text-align: center;
    }
  }

  .description {
    @include main-font($font-second-color);
    transform: translateY(100%);
    animation: text-up 1s 1s forwards;

    @media screen and (max-width: $large) {
      text-align: center;
    }
  }

  .button {
    width: 26rem;

    @media screen and (max-width: $large) {
      margin: 0 auto;
    }
  }
}

.animation__container {
  overflow: hidden;

  &:nth-child(2) {
    margin: 2rem 0 4rem;
  }
}

@keyframes text-up {
  100% {
    transform: translateY(0);
  }
}