@import '../../../../../../common/style/abstracts/mixins';

.heading {
  @include h5;
  width: 17rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1rem;

  &__delete {
    width: 1.6rem;
    height: 1.6rem;
    background: url('../../../../../../../public/assets/icons/deskLayout/garbage.svg') no-repeat center;
    cursor: pointer;
    transition: .3s;

    &:hover {
      transform: scale(1.3);
    }
  }
}