@import '../../../../../common/style/abstracts/mixins';

.tasks {
  width: 19.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__container {
    width: 21rem;
    max-height: calc(100% - 8.6rem);
    overflow-y: auto;
    min-height: 10rem;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: white;
      border-radius: 0.25rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $main-color-hover;
      border-radius: 0.25rem;
    }
  }
}
