@import '../../../../common/style/abstracts/mixins';

.column {
  position: relative;
  width: 23.5rem;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  box-shadow: 0 .4rem 0.6rem #b7c8e040;
  border-radius: .4rem;
  padding: 2.4rem 2rem 2rem;
}