@import '../../../common/style/abstracts/variables';
@import '../../../common/style/abstracts/mixins';

.input {
  width: 100%;
  height: 4.8rem;
  padding: 1.5rem 2rem;
  border: .1rem solid $form-border-color;
  border-radius: .4rem;
  @include font(1.6rem, 1.7rem, 400);
  transition: .5s;
  letter-spacing: 0.125em;


  &:focus {
    outline: none;
    border-color: $main-color;
    box-shadow: 0 0 0 .1rem $main-color;
  }

  &::placeholder {
    @include font(1.4rem, 1.7rem, 400);
    letter-spacing: 0;
    color: $placeholder-color;
  }

  &__wrapper {
    position: relative;
  }

  &_invalid {
    border-color: $error-color;
  }
}

.toggler {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;

  &_invisible {
    background: url('../../../../public/assets/icons/VisibilityToggler/invisible.svg') no-repeat center;
  }

  &_visible {
    background: url('../../../../public/assets/icons/VisibilityToggler/visible.svg') no-repeat center;
  }
}

.error {
  @include font(1.1rem, 1, 400, $error-color);
  position: absolute;
  bottom: -1.2rem;
}