@import '../../../../../../common/style/abstracts/mixins';

.task {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  background: $header-bg-color;
  border-radius: .2rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  &__title {
    @include main-font;
    width: 17.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover &__delete {
    opacity: 1;
  }

  &__delete {
    width: 1rem;
    height: 1rem;
    background: url('../../../../../../../public/assets/icons/Board/Cross.svg') no-repeat center;
    transition: .3s;
    opacity: 0;

    &:hover {
      transform: scale(1.3);
    }
  }
}