@import '../../../../../common/style/abstracts/variables';

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-bottom: 10rem;

  @media screen and (max-width: $large) {
    justify-content: center;
  }

  @media screen and (max-width: $large) {
    gap: 2rem;
  }
}