@import '../../../../../common/style/abstract/_variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  @media screen and (max-width: $large) {
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}
