@import '../../../../common/style/abstracts/variables';
@import '../../../../common/style/abstracts/mixins';

.container {
  position: relative;
  width: 34rem;
  padding: 3rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background: white;
  box-shadow: 0px 4px 8px rgba(80, 80, 80, 0.25);
  border-radius: 0.4rem;
}

.heading {
  @include h3;
  margin-bottom: 3rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.exit {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 1.75rem;
    height: 0.2rem;
    left: 0;
    border-radius: 0.1rem;
    background: $font-main-color;
    transform-origin: left center;
  }

  &:before {
    top: 0;
    transform: rotate(45deg);
  }

  &:after {
    bottom: 0;
    transform: rotate(-45deg);
  }
}

.input {
  @include main-font;
  width: 100%;
  height: 48px;
  border: 1px solid $font-second-color;
  border-radius: 0.4rem;
  padding: 1.5rem 2rem;
  transition: 0.3s;

  &::placeholder {
    @include second-font($font-second-color);
  }

  &:focus {
    outline: none;
    border-color: $main-color;
    box-shadow: 0 0 0 0.1rem $main-color;
  }

  &__wrapper {
    & span {
      @include input-signature-font($font-second-color);
      margin-bottom: 0.2rem;
    }
  }
}

.textarea {
  resize: none;
  height: 10rem;

  &::-webkit-scrollbar {
    position: absolute;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: white;
    border-radius: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $main-color-hover;
    border-radius: 0.25rem;
  }
}
.buttonContainer {
  margin-top: 4rem;
}
