@import '../../../common/style/abstracts/variables';
@import '../../../common/style/abstracts/mixins';

.container {
  width: 100%;
  background: $header-bg-color;
  display: flex;
  justify-content: center;
}

.content {
  @include main-font;
  height: 10rem;
  width: 100%;
  max-width: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 10rem;

  @media screen and (max-width: $small) {
    justify-content: center;
    align-items: center;
  }

  .profiles {
    display: flex;
    width: 100%;
    max-width: 51.5rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    @media screen and (max-width: $small) {
      display: none;
    }
  }

  .date {
    @media screen and (max-width: $medium) {
      display: none;
    }
  }

  .logo {
    @media screen and (max-width: $medium) {
      display: none;
    }

    @media screen and (max-width: $small) {
      display: block;
    }
  }
}