@import '../../../common/style/abstracts/variables';
@import '../../../common/style/abstracts/mixins';

.container {
  width: 100%;
  background: $header-bg-color;
  display: flex;
  justify-content: center;
  align-items: center
}

.content {
  @include main-font;
  width: 100%;
  max-width: 100rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $large) {
    padding: 0 2rem;
  }

  @media screen and (max-width: $small) {
    justify-content: center;
    align-items: center;
  }

  .profiles {
    display: flex;
    width: 100%;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    @media screen and (max-width: $small) {
      display: none;
    }
  }

  .date {
    @media screen and (max-width: $medium) {
      display: none;
    }
  }

  .logo {
    @media screen and (max-width: $small) {
      display: block;
    }
  }
}