@import '../../../common/style/abstracts/mixins';

.container {
  position: relative;
  width: 36.8rem;
  height: 16.8rem;
  background: white;
  padding: 3rem 3rem 2rem;
  box-shadow: 0 .4rem .8rem #50505040;
  border-radius: .4rem;
  z-index: 101;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;

  .heading {
    @include h5;
    width: 100%;
  }

  .exit {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    width: 1.4rem;
    height: 1.4rem;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 1.75rem;
      height: 0.2rem;
      left: 0;
      border-radius: 0.1rem;
      background: $font-main-color;
      transform-origin: left center;
    }

    &:before {
      top: 0;
      transform: rotate(45deg);
    }

    &:after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }

  .buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}